* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 599px) {
  /* Styles */
}

/* Tablet ----------- */
@media only screen and (min-width: 600px) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1800px) {
  /* Styles */
}
