* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

/* Mobile ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 599px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #nav-title {
    display: none;
  }

  #profile-image {
    height: 10em;
    width: 10em;
  }

  p {
    margin: 20px;
  }

  .projects img {
    height: 150px;
    width: 150px;
  }
}

/* Tablet ----------- */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
  /* Styles */
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #nav-title {
    display: none;
  }

  #profile-image {
    height: 10em;
    width: 10em;
  }

  p {
    margin: 20px;
  }

  .projects img {
    height: 150px;
    width: 150px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  /* Styles */
  nav {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  #nav-title {
    margin: 0;
    width: 100%;
    text-align: start;
  }

  .logo {
    height: auto;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
  }

  #banner-title {
    display: none;
  }

  #profile-image {
    height: 33%;
    width: 33%;
    float: left;
    clear: left;
  }

  .projects {
    overflow: auto;
  }

  .projects img {
    height: 33%;
    width: 33%;
  }

  #first-project img {
    float: right;
    clear: left;
  }

  #second-project img {
    float: left;
    clear: left;
  }

  #third-project img {
    float: right;
    clear: left;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1800px) {
  /* Styles */
  #banner-title {
    display: none;
  }
}
