* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

/* Mobile ----------- */
@media only screen and (min-width: 320px) {
  nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* #email-logo {
    position: absolute;
    right: 5;
    top: 3;
    align-self: center;
  } */



  .nav-title {
    display: none;
  }

  #profile-image {
    height: 10em;
    width: 10em;
  }

  p {
    margin: 20px;
  }

  .projects img {
    height: 150px;
    width: 150px;
  }
}

/* Tablet ----------- */
@media only screen and (min-width: 768px) {
  #profile-image {
    height: 10em;
    width: 10em;
  }

  p {
    margin: 20px;
  }

  .projects img {
    height: 150px;
    width: 150px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-title {
    display: inline-block;
    position: absolute;
    left: 10;
    
    bottom: 1;
    margin: 0;

  }

  .logo {
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 5px;
    padding-right: 5px;
  }

  /* #email-logo {
    position: relative;
    left: 10;
  }  */

  #banner-title {
    display: none;
  }

  #profile-image {
    height: 33%;
    width: 33%;
    float: left;
    clear: left;
  }

  .projects {
    overflow: auto;
  }

  .projects img {
    height: 33%;
    width: 33%;
  }

  #first-project img {
    float: right;
    clear: left;
  }

  #second-project img {
    float: left;
    clear: left;
  }

  #third-project img {
    float: right;
    clear: left;
  }
}
